/* estilos.css */


body {
  background-color: #111;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
}

.navbar {
    background-color: #240b0dad;
    color: var(--white);
    padding: 2px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 3px 20px rgba(233, 3, 3, 0.897);
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.nav-list a {
    color: #fff;
    text-decoration: none;
}

.nav-list a:hover {
    transform: scale(1.4);
    color: rgb(255, 13, 13);
    text-shadow: 0 0 2px rgb(255, 13, 13), 0 0 2px rgb(202, 41, 41);
    transition: transform 0.3s ease, color 0.3s ease;
}

header {
  background-color: #111;
  border-bottom: 4px solid red;
  padding: 5px;
  text-align: center;
}

h1 {
  color: rgb(202, 41, 41);
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 10px;
  margin-top: 30px;
}

.roboto-custom {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h2 {
  color: rgb(202, 41, 41);
  padding-left: 5px;
  margin: 20px;
}

p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2em;
  line-height: 1.6;
  margin: 20px;
}

#tab {
  display: flex;
  align-items: center;
  gap: 24px;
}

img {
  width: auto;
  height: auto;
  margin: 20px;
  object-fit: cover;
  border-radius: 10px;
}

#img1 {
  width: 40%;
}

strong {
  color: rgb(202, 41, 41);
  text-decoration: underline;
}

tbody {
  background-color: #222;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(75, 60, 60);
}

td, th {
  border: 1px solid rgb(75, 60, 60);
  padding: 8px;
}

#characters-table td{
  text-align: center;
}

#table-text  {
  text-align: justify;
  margin-right: 5%;
  margin-left: 5%;
  font-size: 1.09em;
}

#img-tab {
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
  border-radius: 8px;
}